* {
    padding: 0;
    margin: 0;
  }
  
  .itemsMenuCentral {
    text-decoration: none;
    border-radius: 40px;
  }
  
  .itemsMenuCentral:hover {
    background: #EE6F57;
  }
  
  .margen-carruselIndex {
    margin-top: 10px;
  }
  .margenTabla{
    padding-top: 210px;
  }
  .margenMain {
    margin-top: 59px;
  }
  
  .footerContenedor {
    
    background: #00334E;
    
  
  }
  .footer{
    margin-top: auto;
  }
  .body{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  
  .alturaCarrusel {
    height: 550px;
  }
  
  .sombraImagenes {
    webkit-box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -5px -4px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .colorNavbar {
    background: #00334E;
  }
  
  .ItemsDecoracion {
    list-style: none;
  }
  
  .seccionSanatorios {
    background: #F6F5F5;
  }
  
  
  /* INDEX2 */
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    width: 100%;
    height: 300px;
    margin: 0px auto;
  }
  
  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  
  
  /* -- */
  
  .colorCarruselObraSocial {
    background: #16C79A;
  }
  
  .colorFondoCarruselOS {
    background: #F6F5F5;
  }
  
  .Sanatorios {
    padding-top: 20px;
    /*    height: 700px; */
  }
  
  .margenTextoSanatorio {
    padding-top: 100px;
  }
  
  .margenImgSanatorio {
    padding-top: 110px;
  }
  
  .Nosotros {
    padding-top: 100px;
    background: #F6F5F5;
    padding-bottom: 100px;
  }
  
  .contenedorLogin {
    background: #F6F5F5;
  }
  
  .seccionLogin {
    background: #EE6F57;
    margin-top: 58px;
    padding-top: 98px;
    padding-bottom: 98px;
  }
  
  .fondoEspecialidad {
    background: #EE6F57;
  }
  .fondoMiMedicos{
     background: #16C79A;
  
  }
  .textoEspecialidad {
    color: #F6F5F5;
    text-decoration: none;
  }
  
  .cardsEspecialidad {
    background: #00334E;
  }
  
  .seccionCards {
    background: #F6F5F5;
  }
  
  .paddingSanatorioUsuario{
    padding-top: 120px;
    
  }
  .busquedaSanatorio{
    padding-top: 80px;
  }
  .MasInfo{
    padding-top: 130px;
  }
  .btnColor{
    background: #145374;
    
  }
  .margenDrs{
    padding-top: 60px;
  }
  .contenedorTabla{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  .colorBodyEstMedico{
    background: #EE6F57;
  }
  .colorBodyObs{
    background: #F6F5F5 ;
  }