.styleNavbar{
  list-style: none;
  text-decoration: none;
  color: rgb(32, 106, 93);
  border-radius: 40px;
  }
  
  .styleNavbar:hover {
    background: rgb(191, 220, 174);
  }
  
  .styleColorNavbar{
    background-color: rgb(241, 241, 232);
  }

.footer{
  background: rgb(129, 178, 20);
  text-decoration: none;
  color: rgb(241, 241, 232);
  text-shadow: 1px 1px 2px rgb(32, 106, 93);

}

.paddingTitle{
  padding-top: 100px;
}
.paddingOneProduct{
  padding-top: 140px;
}

.paddingHome{
  padding-top: 200px; 
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.left-button,
button.center-button,
button.right-button {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #206A5D;
  color: #fff;
}

.botonaccede {
  background-color: red; 
  color: #fff; 
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
}

.textomarcas {
  font-size: 24px;
  margin: 20px 0; 
}

.nosotros{
  background-color: #81B214;
}
.PlanDescription{
  background: #BFDCAE;
}
.profesional {
  text-align: center;
  flex: 1; 
  max-width: 400px; 
}

.profesional img {
  width: 100%; 
  max-height: 400px; 
  height: auto; 
}

.imagen-profesio {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  align-items: flex-start; 
}

.work-section-wrapper {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  text-align: left; 
}

.testimonial-section-bottom {
  display: flex;
  align-items: center; 
  gap: 20px; 
}



.equipo-item {
  margin-bottom: 20px;
  text-align: center;
}

.equipo-img {
  max-width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 20px; /* Tamaño deseado para todas las imágenes */
}

@media (min-width: 768px) {
  .nosotros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    text-align: center;
    margin-top: 75px;
  }

  
}