.styleNavbar{
  list-style: none;
  text-decoration: none;
  color: rgb(32, 106, 93);
  border-radius: 40px;
  }
  
  .styleNavbar:hover {
    background: rgb(191, 220, 174);
  }
  
  .styleColorNavbar{
    background-color: rgb(241, 241, 232);
  }

.footer{
  background: rgb(129, 178, 20);
  text-decoration: none;
  color: rgb(241, 241, 232);
  text-shadow: 1px 1px 2px rgb(32, 106, 93);

}

.paddingTitle{
  padding-top: 100px;
}
.paddingOneProduct{
  padding-top: 140px;
}