@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.productosDestacados{/*comienza efecto sacado de internet*/
    
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    font-family: "Regular 400", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }
  .cta {
    position: relative;
    margin: auto;
    padding: 0px 20px;
    transition: all 0.2s ease;
    text-decoration: none;
  color: inherit;
  
  padding-top: 5px;
  border-top-width: 1px;
  padding-bottom: 0px;

  }
  .cta:before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(66, 164, 81, 0.756);
  width: 56px;
  height: 36px;
  transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 10px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    vertical-align: middle;
    position: relative;
    top: 0;
    margin-left: 0px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: #48a84e;
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }